$search-bar-width: 40vw;
$search-bar-height: 30px;
form {
  input[type="text"] {
    padding: 5px;
    font-style: italic;
  }
  input[type="sumbit"] {
    padding: 0 5px;
  }
  .searchInput {
    min-width: 35vw;
  }
  .submitInput {
    min-width: 5vw;
    height: 30px;
  }
}

// Mobile
@media screen and (max-width: 780px) {
  form {
    min-width: 100vw;
    padding: 5px;
    .searchInput {
      min-width: 95vw;
    }
    .submitInput {
      display: none;
    }
  }
}
