.btns {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
  width: 100px;
  .BtnDate {
    background-color: unset;
    border: 1px solid #0984e3;
    border-radius: 10px;
    padding: 5px;
    color: #2d4953;
    width: 50px;

    margin-left: 10px;
  }
}
