.container {
  .button {
    margin-bottom: 10px;

    > button {
      background-color: unset;
      border: 1px solid #0984e3;
      border-radius: 20px;
      padding: 5px;
      color: #636e72;
    }
  }

  .fav {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    grid-gap: 10px;

    margin-bottom: 20px;

    .favList {
      background-color: #00a8ff;
      border-radius: 20px;
      text-align: center;
      width: fit-content;
      padding: 8px;
      color: #f5f6fa;
      cursor: pointer;
    }
  }

  .myFavStocks {
    .myFavStocks__list {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      height: 70px;
      margin-bottom: 10px;

      background-color: #95afc0;

      padding: 5px 10px;
      border-radius: 5px;

      .company_name_symbol,
      .company_stock_price {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 7px;

        .company_name {
          font-size: 2rem;
          font-weight: bold;
        }

        .symbol {
          font-size: 1rem;
          margin-top: 20px;
        }

        .label {
          margin-top: 5px;
        }
      }
    }
  }
}
