.searchResultContainer {
  margin-bottom: 20px;
}

.futureValueContainer {
  form {
    margin-bottom: 20px;
    .insertValue {
      font-size: 1.5rem;
    }
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 100px;

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #12cbc4;
    }
  }
}
