.detailsContainer {
  display: grid;
  grid-gap: 20px;
  .companyName_symbol_addBtn {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    grid-gap: 15px;

    .companyName_symbol {
      display: grid;
      grid-auto-flow: column;
      justify-content: left;
      grid-gap: 10px;
    }

    .addBtn > button {
      background: none;
      border-radius: 20px;
      border: none;
      background-color: #0984e3;
      color: #ffffff;
      padding: 8px;
    }
  }

  .graph_details {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    grid-template-columns: 2fr 1fr;

    .details > p {
      display: grid;
      border-bottom: 1px solid #b2bec3;

      .category {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        border-bottom: 1px solid #b2bec3;
        padding: 10px 0;

        .title {
          font-size: 1rem;
          font-weight: 600;
        }
      }

      span:last-child {
        border-bottom: none;
      }
    }
  }

  .futureValueContainer {
    form {
      margin-bottom: 20px;
      .insertValue {
        font-size: 1.5rem;
      }
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 100px;

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      th {
        background-color: #12cbc4;
      }
    }
  }
}
